.cadastro-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 800px;
}
.foto-cadastro img{
    width: 500px;
    border-radius: 40px;
}

.foto-cadastro{
  padding-left: 200px;
  border-left: 3px solid var(--azul-principal);
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

.formulario-cadastro{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
    justify-content: center;
}
.form-cadastro h1{
    color: var(--azul-principal);
    font-family: 'Literata', serif;
    font-weight: bold;
    font-size: 41px;
}

.formulario-cadastro input {
  border: none;
  border-bottom: 2px solid var(--azul-principal) !important;
  outline: none;
  transition: border-color 0.3s;
  font-size: 15px;
  border-radius: 0px;
}

.formulario-cadastro input:focus {
  border-color: var(--azul-escuro) !important;
}

.button-entrar {
  padding: 10px;
  background-color: var(--azul-principal);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
  width: 150px;
  font-size: 21px;
}

.button-entrar:hover {
  background-color: var(--azul-escuro);
}


.links-cadastro{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.link-form{
    color: var(--azul-principal) !important;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 21px;
}

.active {
    color: var(--azul-escuro) !important;
    text-decoration: underline;
    font-size: 21px;
}