.content-carrinho{
    display: flex;
    background-color: var(--cinza-input);
    justify-content: space-evenly;
    margin-top: -30px;
    margin-bottom: -30px;
    padding: 50px;
}

.center-carrinho{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    padding: 50px;
    max-height: fit-content;
    border-radius: 30px;
    width: 65%;
}

.produtos-carrinho{
    display: flex;
}

.produtos-carrinho .children .excluir-produto{
    width: 30px;
    height: 20px;
    color: var(--vermelho);
    cursor: pointer;
}

.titulo-carrinho {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.titulo-carrinho h1 {
    font-size: 25px;
    font-weight: bold;
}

.produtos-carrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.endereco {
    border-top: 1px solid black;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}
.endereco p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.endereco select {
    margin-bottom: 5px;
    border: none;
    appearance: unset;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    color: var(--azul-principal);
    font-size: 16px;
    font-weight: 400;
}

.right-carrinho {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}


.total-carrinho {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
}

.total-carrinho p{
    font-weight: bold;
    font-size: 25px;
}

.total-carrinho button {
    border: none;
    background-color: var(--azul-principal);
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}

.produtos-recomendados{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
}

.produtos-recomendados .produto .preco {
    font-size: 18px;
}

.content-carrinho .children svg {
    font-size: 20px;
}

.delete-carrinho {
    color: var(--vermelho);
    cursor: pointer;
}


.presente {
    width: 60px;
}

.presenteado p {
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
}

.presenteado {
    width: 180px;
    display: flex;

}


.contagem-carrinho {
    display: flex;
    justify-self: left;
}