.compras_geral {
    display: flex;
    justify-items: center;
    width: 100%;
    
}

.right-compras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    width: 70%;
}

.compras {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 90%;
    height: 800px;
    overflow-y: scroll;
}

.produtos_compra{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttons-children button {
    color: var(--azul-principal);
    background-color: var(--amarelo);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
}

.search-product{
    background-color: var(--cinza-texto);
    opacity: 0.4;
    border: none;
    padding: 10px;
    width: 40%;
    margin-top: 30px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.search-product i{
    color: var(--preto);
}

