.config-page{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.user-side-config{
    border-right: 2px solid var(--azul-escuro);
    width: 30%;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: 50px;
}

.user-config-and-address{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links-profile-or-address{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 40%;
    height: 5%;
    
}
.links-profile-or-address a{
    width: 35%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}
.links-profile-or-address .selected{
    background-color: var(--azul-principal);
    color: var(--branco); 
}
.links-profile-or-address .unselected{
    color: var(--azul-principal);
    background-color: var(--branco);
}

.image-and-content{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-and-content img {
    width: 250px;
    height: 250px;
}

