.config-page{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.user-side-config{
    border-right: 2px solid var(--azul-escuro);
    width: 30%;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: 50px;
}

.user-config-and-address{
    border: solid 1px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links-profile-or-address{
    border: 1px solid cyan;
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 50%;
    height: 5%;
}

.image-and-content{
    border: 1px solid darkgreen;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
.image-and-content img {
    width: 250px;
    height: 250px;
    margin-left: 100px;
}