.main-content-area {
    display: flex;
    gap: 5%;
}
.user-profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    overflow-y: scroll;
    max-height: 100vh;
    margin-top: -30px;
    margin-bottom: -30px;
    padding-right: 10px;
}


.user-profile-content .produto .children .adicionar{
    padding: 10px;
    background-color: var(--azul-principal);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    width: 200px;
}