.main-content-area {
    display: flex;
}
.user-profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    overflow-y: scroll;
    max-height: 100vh;
    width: 70%;
    margin-top: -30px;
    margin-bottom: -30px;
}

.user-profile-content .produto {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.user-profile-content .produto .conteudo_produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px
}

.user-profile-content .produto .conteudo_produto .texto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65%;
}
.user-profile-content .produto .conteudo_produto .texto .center_produto{
    width: 70%;
    height: 80%;
}
.user-profile-content .produto .right_produto{
    display: flex;
    justify-content: center;
    height: 80%;
    margin: 0px
}

.user-profile-content .produto .children {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 15%;
}

.user-profile-content .produto .children .adicionar{
    padding: 10px;
    background-color: var(--azul-principal);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    width: 200px;
}