.main-content-area {
    display: flex;
}
.user-profile-content {
    display: flex;
    flex-direction: column;
    gap:30px;
    overflow-y: scroll;
    max-height: 90vh;
    width: 70%;
}

.user-profile-content .produto {
    width: 100%;
}

.user-profile-content .produto .children {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-profile-content .produto .children .adicionar{
    padding: 10px;
    background-color: var(--azul-principal);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    width: 200px;
}