.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 270px;
    height: 800px;
}
.foto img{
    width: 500px;
    border-radius: 40px;
}

.foto {
  padding-right: 200px;
  border-right: 3px solid var(--azul-principal);
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 40px;
}
.form-login h1{
    color: var(--azul-principal);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.formulario-login input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--azul-principal);
  outline: none;
  transition: border-color 0.3s;
  font-size: 21px;
}

.formulario-login input:focus {
  border-color: var(--azul-principal);
}

.button-entrar {
  padding: 10px;
  background-color: var(--azul-principal);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
  width: 150px;
  font-size: 21px;
}

.button-entrar:hover {
  background-color: var(--azul-escuro);
}


.links-login{
    display: flex;
    gap: 10px;
}

.link-form{
    color: var(--azul-principal) !important;
    text-decoration: underline !important;
    cursor: pointer;
    font-size: 21px;
}

.active {
    color: var(--azul-escuro) !important;
    text-decoration: none;
    font-size: 21px;
}