.categoria-recomendada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-categoria-recomendada{
    background-color: var(--azul-principal);
    color: white;
    margin-bottom: 30px;
    padding: 15px;
    padding-left: 40px;
    width: 80%;
}

.titulo-categoria-recomendada p {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Literata', serif;
}

.recomendados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtos_todos{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--azul-principal);
}

.carrossel-produtos {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--azul-principal);
}

.carrossel-produtos .slick-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 380px;
}


.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    background: white;
    border: 1px solid var(--amarelo);
    border-radius: 50%;
    padding: 5px;
    color: var(--amarelo);
}

.custom-arrow.next {
    right: -20px;
}

.custom-arrow.prev {
    left: -20px;
}