.container-produtos{
    display: flex;
    flex-direction: column;
}

.botoes_produtos{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-bottom: 2px solid var(--azul-principal);
    width: 50%;
    justify-self: center;
    padding-bottom: 30px;
}

.botoes_produtos .active-botao{
    background-color: var(--azul-principal);
    color: var(--branco);
    border-radius: 10px;
    transform: scale(1.01);
    padding: 10px;
    border: none;
}

.botao {
    border: none;
    background-color: transparent;
    color: var(--azul-principal);
}