.produto-mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 50px;
}

.produto-mostrar img {
    width: 600px;
}

.produto-mostrar .produto-informacao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.produto-informacao .titulo-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-informacao .frete {
    display: flex;
    flex-direction: column;
}

.frete select {
    text-align: center;
    border: none;
    appearance: unset;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    color: var(--azul-principal);
}

.produto-informacao .valores-produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valores-produto p {
    margin-bottom: 0;
}

.contagem {
    display: flex;
    width: 500px;
    gap: 30px;
    align-items: center;
}

.contador {
    display: flex;
    width: 100px;
    border: 2px solid var(--azul-principal);
    text-align: center;
    border-radius: 10px;
}

.contador button, .contador p {
    width: 100px;
    text-align: center;
    border: none;
    background-color: transparent;
    margin: 0;
}

.produto-buttons {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.produto-buttons button {
    width: 300px;
}

.button_amarelo {
    color: var(--azul-principal);
    background-color: var(--amarelo);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
}

.button_azul {
    color: var(--amarelo);
    background-color: var(--azul-principal);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
}

.produto-preco {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    color: var(--amarelo);
}

.carrossel_categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel_categoria h3 {
    align-self: flex-start;
    margin-left: 12.5%;
    color: var(--azul-principal);
}

.carrossel_categoria .carrossel-produtos {
    border-top: 2px solid var(--azul-principal);
    padding-top: 30px;
}


.comentarios-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comentario-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
}
.comentario .avaliacao-estrelas-barra-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}  

.comentario .avaliacao-estrelas-barra-wrapper .nota-numerica {
    font-size: 20px;
} 

.comentario .avaliacao-estrelas-barra-wrapper .estrelas-container-base {
    font-size: 30px;
} 

.header-comentarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 101px;
}


.header-comentarios .avaliacao-estrelas-barra-wrapper{
    display: flex;
    align-items: center;
    padding-right: 100px;
    justify-content: flex-end;
}

.header-comentarios .avaliacao-estrelas-barra-wrapper .nota-numerica {
     font-size: 20px;
}  

.header-comentarios .avaliacao-estrelas-barra-wrapper .estrelas-container-base {
     font-size: 30px;
} 

.header-comentarios p {
    text-align: center;
    margin-bottom: 0;
    padding-left: 100px;
    font-size: 20px;
    color: var(--azul-principal);
}
.comentario {
    width: 80%;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(12, 94, 148, 0.3);;
}
.linha-divisoria {
    margin-top: 20px;
    height: 2px; 
    background-color: #ddd; 

}

.comentario:last-child {
    border-bottom: none;
}

.usuario-comentario {
   
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.usuario-comentario img {
    
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
    
   
    padding: 5px; 
    box-sizing: content-box; 
}

.nome-comentario {
  
    display: flex;
    flex-direction: column;
}

.nome-comentario p:first-child {
   
    font-weight: bold; 
    font-size: 16px;
    margin: 0; 
    color: #333; 
}

.nome-comentario p:last-child {
    
    font-size: 14px;
    color: #888; 
    margin: 0; 
}




.comentario > p {
    font-size: 14px;
    color: #555;
    line-height: 1.5; 
    margin: 0; 
   
}