.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sobrenos p {
    width: 50%;
    font-size: 18px;
    text-align: justify;
}
.sobrenos h1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 45%;
    font-weight: bold;
    text-align: center;
}
.sobrenos .bem-vindo{
    text-align: center;
}


.fotos_sobre{
    display: flex;
    background-color: var(--azul-principal);
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.sobrenos h1 {
    color: var(--azul-principal);
    font-family: 'Literata', serif;
}

.foto_sobre {
  width: 200px;
  height: 200px;
}

.foto_sobre .text-foto{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Literata', serif;
    width: 100%;
}

.foto_sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Corta proporcionalmente */
  object-position: center; /* Centraliza o recorte */
  border-radius: 200px;
}