.categorias {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.categoria svg{
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: var(--azul-principal);
    padding: 10px;
    border-radius: 20px;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.categoria:hover{
    transform: scale(1.1);
}

.categorias .categoria .titulo-categoria{
    margin-bottom: 0;
    text-decoration: none !important;
    color: var(--azul-principal);
}