
.modal_backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9000; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.modal_content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  position: relative; 
}