@import url(../Cores.css);

.barra-lateral-user {
    border-right: solid 2px var(--azul-principal) ;
    height: 90vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.user-icon-and-text{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.user-icon-and-text img {
    width: 60px;
    height: 100%;
}
.user-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--azul-escuro);
}
.user-name {
    width: 100%;
    font-size: 21px;
    margin-bottom: 0px; 
    font-weight: bolder;
}
.qtd-amigos{
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}
.side-menu-button {
    width: 80%;
    text-decoration: none;
    color: var(--azul-principal);  
    font-size: 20px;
    padding-left: 15px; 
}

.active-button-side {
    background-color: var(--azul-principal);
    color: var(--branco);
    border-radius: 10px;
}


.side-menu-button:hover{
    background-color: var(--azul-principal);
    color: var(--branco);
    border-radius: 10px;
    transform: scale(1.01);
}
