.adicionando {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.inserir_imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--azul-principal);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.custom-file-upload:hover {
  background-color: var(--azul-escuro);
}

.custom-file-upload input[type="file"] {
  display: none;
}

.file-name {
  font-size: 0.9rem;
  color: #333;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0px; 
}



.input-field {
  width: 100%;
  padding: 10px 10px 10px 10px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: transparent !important;   
  color: var(--cor-do-texto-input); 
}

.input-label {
  position: absolute;
  top: 50%; 
  left: 3%; 
  transform: translateY(-50%);
  color: #6c757d; 
  transition: all 0.3s ease;
  pointer-events: none; 
  background-color: white; 
  padding: 0 5px; 
  font-size: 16px; 
}


.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0; 
  left: 3%; 
  font-size: 12px; 
  color: var(--azul-principal); 
  transform: translateY(-50%); 
  z-index: 1; 
}

.input-field:focus {
  border-color: var(--azul-principal); 
}

.categoria-prod {
    width: 100%; 
    
    padding: 10px 10px 10px 10px; 
    font-size: 16px; 
    
    border: 2px solid #ccc; 
    border-radius: 8px; 
    
    background-color: transparent; 
    
    outline: none; 
    
    transition: all 0.3s ease; 
    
    color: #6c757d; 
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.categoria-prod:focus {
    border-color: var(--azul-principal); 
}

.categoria-prod:valid {
    color: var(--cor-do-texto-input, #6c757d); 
}

.categoria-prod option[value=""] {
    color: #6c757d; 
}

.cadastro-button {
  padding: 10px;
  background-color: var(--azul-principal);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  font-size: 15px;
}

.cadastro-button:hover {
  background-color: var(--azul-escuro);
}