.adicionando {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.inserir_imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--azul-principal);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.custom-file-upload:hover {
  background-color: var(--azul-escuro);
}

.custom-file-upload input[type="file"] {
  display: none;
}

.file-name {
  font-size: 0.9rem;
  color: #333;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input{
    border: none;
    border-bottom: 3px solid black;
    background-color: gainsboro;
    color: black;
    padding-left: 10px;
    outline: none;
}

.form input::placeholder{
    color: black;
    font-style: italic;
}

.form select {
    border: none;
    border-bottom: 3px solid black;
    background-color: gainsboro;
    color: black;
    padding-left: 10px;
    outline: none;
    width: 300px;
}

.form textarea {
    border: none;
    border-bottom: 3px solid black;
    background-color: gainsboro;
    color: black;
    padding-left: 10px;
    outline: none;
    width: 300px;
}

.form textarea::placeholder{
    color: black;
    font-style: italic;
}

.form .cadastro-button{
    background-color: var(--azul-principal);
    color: var(--branco);
    padding: 20px;
    border-radius: 20px;
    border: none;
    width: 300px;
}