.filtros-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 20px;
  background-color: #ffffff; 
  display: flex ;
  flex-direction: column;
  margin-top: 30px;
}

.filtros-cabecalho {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 30px;
}

.icone-filtro {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.titulo-filtros {
  font-size: 18px;
  font-weight: 600; 
  color: #333;
  margin: 0;
  letter-spacing: 1.5px;
}
.secao-filtro{
  margin-left: 30px;
  width: 80%;
}

.subtitulo-filtro {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.lista-categorias {
  display: flex;
  flex-direction: column;
}

.checkbox-categoria {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.checkbox-categoria input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}


.checkbox-categoria input[type="checkbox"]:checked {
  background-color: #007bff; 
  border-color: #007bff;
}


.separador {
  border: none;
  border-top: 1px solid #ccc;
  margin: 30px 30px;
  width: 80%;
}


.filtro-preco {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-preco {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 45%;
  text-align: center;
}

.input-preco::placeholder {
  color: #aaa;
}

.separador-preco {
  display: block;
  width: 10%;
  text-align: center;
  height: 1px;
  background-color: #888;
  margin: 0 5px;
}

.botao-confirmar {
  width: 100%;
  padding: 10px;
  background-color: #1e6091;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-confirmar:hover {
  background-color: #164f78;
}