.avaliacao-estrelas-barra-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nota-numerica {
    font-size: 1.1em;
    color: #333;
}

.estrelas-container-base {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 1.6em; 
    line-height: 1;
    white-space: nowrap;
    color: #ccc;
}

.estrelas-preenchidas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: gold; 
}