.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.produtos .search-product{
    background-color: var(--cinza-input);
    opacity: 0.4;
    border: none;
    padding: 10px;
    width: 40%;
    margin-top: 30px;
    border-radius: 25px;
    text-align: center;
}

.search-product i{
    color: var(--preto);
}

.search-product input {
    background-color: transparent;
    font-weight: 500;
    border: none;
    width: 90%;
    margin-left: 30px;
    color: var(--preto);
    outline: none;
}

.search-product input::placeholder{
    color: var(--preto);
}


.produtos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
}

.buttons-children{
    display: flex;
    margin-top: -30px;
    gap: 60px;
}

.buttons-children i{
    text-decoration: none;
}

.edit-button{
    color: var(--azul-principal);
    cursor: pointer;
}

.delete-button{
    color: red;
    cursor: pointer;
}

.modal_content .buttons-modal{
    display: flex;
    gap: 100px;
}

.buttons-modal .cancel-button{
    background-color: var(--amarelo);
    color: var(--azul-principal);
    border: none;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
}

.buttons-modal .confirm-button{
    background-color: var(--branco);
    color: var(--azul-principal);
    border: 2px solid var(--amarelo);
    padding: 10px;
    border-radius: 30px;
    width: 150px;
}

.hr {
    display: flex !important;
    height: 1px !important;
    width: 80%;
    border: 1px solid var(--azul-principal);
}

.modal_content .dados {
    display: flex;
    gap: 150px;
}

.modal_content .codigo-rastreio{
    border: none;
    border-bottom: 3px solid black;
    background-color: gainsboro;
    color: black;
    padding-left: 10px;
    outline: none;
}

.modal_content .codigo-rastreio::placeholder{
    color: black;
    font-style: italic;
}

.produtos .modal_backdrop .modal_content{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    gap: 30px
}

.produtos .modal_backdrop .modal_content h3{
    color: var(--azul-escuro);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 60%;

}
.produtos .modal_backdrop .modal_content .subtitulo{
    font-size: 14px;
    color: var(--azul-principal) !important;
    text-align: center;
    width: 70%;
}
