.produto {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px rgba(12, 94, 148, 0.3);;
}

.produto .left_produto{
    width: 250px;
}

.produto .left_produto img {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.produto .conteudo_produto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 75%;
    gap:50px;
}

.produto .conteudo_produto .texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.produto .conteudo_produto .texto .center_produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-produto-horizontal {
    max-width: 550px;
    width: 80%;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}


.produto .right_produto .descontado{
    color: var(--cinza-texto);
    text-decoration: line-through;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.produto .right_produto .preco{
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.produto .texto .center_produto .estoque, .produto .texto .center_produto .quantidade, .produto .right_produto .desconto_aplicado{
    color: var(--azul-principal) !important;
    font-size: 13px;
}

.produto .right_produto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -20px;
}
