.produto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid;
    gap: 2%
}

.produto .left_produto{
    width: 250px;
}

.produto .left_produto img {
    width: 100%;
    border-radius: 15px ;
}

.produto .conteudo_produto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 200px;
    gap:70px
}

.produto .conteudo_produto .texto {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.produto .conteudo_produto .texto .center_produto{
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
}

.texto .center_produto .nome-produto-horizontal{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
    font-weight: 450;
    font-size: 16px;
}

.produto .right_produto .descontado{
    color: var(--cinza-texto);
    text-decoration: line-through;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.produto .right_produto .preco{
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.produto .texto .center_produto .estoque, .produto .texto .center_produto .quantidade, .produto .right_produto .desconto_aplicado{
    color: var(--azul-principal) !important;
    font-size: 13px;
}

.produto .right_produto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

