.produto {
    border-radius: 15px;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    gap: 10px;
    box-shadow: 2px 2px 2px 2px rgba(12, 94, 148, 0.3);;
}

.produto p {
    margin: 0 !important;
}

.produto .left_produto{
    height: 100%;
    flex-shrink: 0;
}

.produto .left_produto img {
    width: 100%;
    height: 100%;
}

.produto .conteudo_produto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.produto .conteudo_produto .texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.produto .conteudo_produto .texto .center_produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nome-produto-horizontal {
    max-width: 550px;
    width: 80%;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}


.produto .right_produto .descontado{
    color: var(--cinza-texto);
    text-decoration: line-through;
    margin-bottom: 0px;
}

.produto .right_produto .preco{
    font-weight: bolder;
    font-size: 20px;
}

.produto .texto .center_produto .estoque, .produto .texto .center_produto .quantidade, .produto .right_produto .desconto_aplicado{
    color: var(--azul-principal) !important;
    font-size: 13px;
    width: fit-content;
}

.produto .right_produto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.children {
    height: 25%;
    display: flex;
    align-items: center;
}
