.card {
  width: 170px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(12, 94, 148, 0.3);
}
.top-card-section {
  max-height: 50%;
  min-height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produto-img {
  height: 100%;
  width: 100%;
}

.mid-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 30%;
  width: 100%
}
.nome-texto {
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  font-size: 21px;
}
.avaliacao-produto {
  width: 100%;
}

.bottom-card-section {
  height: 20%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px
}
.preco {
  margin: 5px;
}