.header {
    background-color: var(--azul-principal);
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    margin-bottom: 30px;
  }

.BAL-icon {
    height: 90px;
    width: auto;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    border-radius: 25px;
    padding: 0px 25px;
    width: 100%;
    max-width: 750px;
}

.search-bar {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    font-style: italic;
}

.search-bar i {
    color: var(--cinza-texto);
  }

nav{
    flex-grow: 0.4;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    margin-top: 15px;
    padding: 0 !important;
}

.nav-link {
    text-decoration: none;
    color: var(--branco) !important;
    font-size: 40px;
    font-weight: normal;
    border: black 1px solid;
}
.nav-link:hover{
    color: var(--amarelo) !important;
    transition: 0.3s;
}
.active-nav-button {
    color: var(--amarelo) !important;
}

.BAL-carrinho {
    height: 60px;
    width: auto;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_name {
    color: var(--branco);
    text-align: center;
}

.user_image{
    height: 60px;
}