.perfil-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  gap: 120px;
  font-family: Arial, sans-serif;
}

.avatar img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.perfil-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}



.perfil-form input:focus {
  border-color: var(--azul-principal);
}

.perfil-form button {
  padding: 10px;
  background-color: var(--azul-principal);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.perfil-form button:hover {
  background-color: var(--azul-escuro);
}