* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Literata', serif;
  font-size: 30px;
}