:root {
    --amarelo: #f6d600;
    --branco: #ffffff;
    --azul-principal: #0c5e94;
    --azul-escuro: #07304b;
    --preto: #000000;
    --cinza-input: #e8e7e7;
    --cinza-texto: #646464;
    --vermelho: #ff5757;
}