:root {
    --amarelo: #f6d600;
    --branco: #ffffff;
    --azul-principal: #0c5e94;
    --azul-escuro: #07304b;
    --preto: #000000;
    --cinza-input: #f6f6f6;
    --cinza-texto: #737373;
    --vermelho: #ff5757;
}