:root {
    --amarelo: #f6d600;
    --branco: #ffffff;
    --azul-principal: #0c5e94;
    --azul-escuro: #07304b;
    --preto: #000000;
    --cinza-input: #dbdfe4;
    --cinza-texto: #737373;
    --vermelho: #ff5757;
}

.header {
    background-color: var(--azul-principal);
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
  }

.BAL-icon {
    height: 90px;
    width: auto;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    border-radius: 25px;
    padding: 0px 25px;
    width: 100%;
    max-width: 750px;
}

.search-bar {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    font-style: italic;
}

.search-bar i {
    color: var(--cinza-texto);
  }

nav{
    width: 20%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--branco) !important;
    font-size: 40px;
    font-weight: normal;
    border: black 1px solid;
}
.nav-link:hover{
    color: var(--amarelo) !important;
    transition: 0.3s;
}
.active {
    color: var(--amarelo);
}

.BAL-carrinho {
    height: 60px;
    width: auto;
}